.contact-detail img {
    height: 25px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 180px;
    gap: 70px;
    margin-top: -40px;
}

.contact-tittle h1 {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 34px;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left a {
    max-width: 550px;
    line-height: 26px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.contact-left a:hover{
    text-decoration: underline;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 17px;
}

.contact-detail {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 21px;
    height: 550px;
}

.contact-right label {
    font-weight: 400px;
}

.contact-right input {
    border: none;
    height: 100px;
    width: 500px;
    padding-left: 20px;
    background: #32323c;
    border-radius: 4px;
    color: #A0A0A0;
    font-size: 15px;
    font-family: outfit;
}

.contact-right textarea {
    width: 500px;
    padding: 25px;
    background: #32323c;
    color: #A0A0A0;
    border: none;
    font-family: outfit;
    font-size: 15px;
    border-radius: 4px;
}

.contact-submit {
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 40px;
    border-radius: 20px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:1024px) {
    .contact {
        align-items: start;
        margin: 50px 70px;
    }

    .contact-tittle h1 {
        font-size: 47px;
        padding: 0;
    }

    .contact-section {
        flex-direction: column;
        margin-top: -30px;
    }

    .contact-left h1 {
        font-size: 50px;
    }

    .contact-left a {
        font-size: 18px;
    }

    .contact-details {
        gap: 30px;
    }

    .contact-right {
        margin-top: -50px;
    }

    .contact-right label {
        font-size: 17px;
    }

    .contact-right input {
        width: 100%;
        font-size: 16px;
    }

    .contact-right textarea {
        width: 95%;
        font-size: 16px;
    }

    .contact-submit {
        font-size: 17px;
        padding: 15px 40px;
    }

}
   /* Mobile view .. */

@media(max-width:728px) {
    .contact {
        align-items: stretch;
        margin: 30px 17px;
        gap: 40px;
        margin-top: -30px;
    }

    .contact-tittle h1 {
        font-size: 37px;
        padding: 0;
        text-align: center;
    }

    .contact-section {
        flex-direction: column;
        margin-top: 0;
        gap: 126px; 
    }

    .contact-left h1 {
        font-size: 30px;
    }

    .contact-left a, p {
        font-size: 15px;
        line-height: 22px;
    }

    .contact-details {
        gap: 25px;
        font-size: 15px;
    }

    .contact-detail img {
        height: 20px;
    }

    .contact-right {
        margin-top: -50;
    }

    .contact-right label {
        font-size: 15px;
    }

    .contact-right input {
        width: 100%;
        height: 98px;
        font-size: 14px;
        padding-left: 12px;
    }

    .contact-right textarea {
        width: 100%;
        font-size: 15px;
        padding: 12px;
    }

    .contact-submit {
        font-size: 14px;
        padding: 12px 24px;
        align-self: flex-start;
    }

}