.profile-img {
    height: 300px;
    margin-top: 50px;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero h1 {
    margin-top: -55px;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    width: 70%;
}

.hero h1 span {
    background: linear-gradient(270deg, #DF890B 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-size: 18px;
    width: 50%;
    text-align: center;
    line-height: 30px;
    margin-top: -20px;
}

.hero-section {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(264deg, #061ef6 -5.09%, #e800c5 100%);
    transition: 0.5s;
}

.hero-resume {
    border: solid 2px;
    border-radius: 50px;
    padding: 19px 40px;
    text-decoration: none;
    color: white;
    transition: 0.5s
}

.hero-resume:hover {
    border: solid rgb(247, 1, 210);
    transform: scale(1.05);
}

.hero-connect:hover {
    border: solid 2px;
    transform: scale(1.05);
}
@media(max-width:768px){
    .hero h1{
        margin-top: 20px;
        width: 90%;
    }
    .hero p{
        width: 60%;
        line-height: 32px;
        margin: 8px 0px;
    }
    .hero-section{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 40px;
        border-radius: 40px;
    }
}