.mywork-tittle{
    margin-top: -70px;
    margin-bottom: 70px;
}
.mywork-tittle h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
}
.mywork{
    display: flex;
    flex-direction: column;
    margin: 80px 170px;
    align-items: center;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 90px;
}
.mywork-container img{
    box-sizing: border-box;
    height: 230px;
    width: 330px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}
.mywork-container img:hover{
    transform: scale(1.07);
    transition: 0.3s;
    border: 4px solid rgb(250, 7, 137);
}

@media(max-width:1024px){
    .mywork{
        align-items: start;
        margin: 50px 70px;
        gap: 20px;
    }
    .mywork-tittle h1{
        padding: 0;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
        height: 100%;
        width: 100%;
    }
}

@media(max-width:728px){
    .mywork{
        align-items: start;
        margin: 50px 25px;
        gap: 20px;
    }
    .mywork-tittle h1{
        padding: 0;
        font-size: 38px;
        margin-top: 20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-top: -20px;
    }
    .mywork-container img{
        height: 100%;
        width: 100%;
    }
}