.logo-img {
    height: 45px;
    width: 160px;
    margin-top: -10px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
}

.nav-menu {
    display: flex;
    gap: 60px;
    list-style: none;
    font-size: 14px;
}

.nav-connect {
    padding: 15px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #0e08d1 0.36%, #c70c7f 102.06%);
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.nav-connect:hover {
    transform: scale(1.05);
}
.under-img{
    height: 25px;
    width: 36px;
    display: flex;
    margin: auto;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-open{
    height: 35px;
    display: none;
}
.nav-mob-close {
  display: none;
}

@media (max-width:768px){
    .nav-bar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        height: 30px;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        right: -350px;
        background-color: #1d0000;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
    }
    .nav-menu li{
        font-size: 16px;
        padding-left: 50px;
        flex-direction: row;
        gap: 20px;
    }
}