.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 80px 170px;
}

.arrow {
    height: 40px;
}

.services-format {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1.4;
    justify-content: center;
    border: 2px solid white;
    padding: 18px 20px;
    gap: 16px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.services-format h3 {
    font-size: 20px;
    font-weight: 600;
}

.services-format h2 {
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 600;
}

.services-format p {
    max-width: 300px;
    font-size: 14px;
}

.services-readmore {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.services-format:hover {
    border: 2px solid #B415FF;
    transform: scale(1.05);
    transition: 0.4s;
}

.service-tittle h1 {
    font-size: 40px;
    font-weight: 600;
}

@media(max-width:1024px) {
    .service {
        align-items: start;
        margin: 20px 70px;
    }

    .services-format h2 {
        font-size: 25px;
    }

    .services-format {
        gap: 15px;
        padding: 32px;
    }

    .services-format p {
        font-size: 17px;
        line-height: 25px;
    }

    .service-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:728px) {
    .service {
        align-items: start;
        margin: 20px 25px;
    }

    .services-format h2 {
        font-size: 19px;
    }

    .services-format {
        gap: 12px;
        padding: 20px;
    }

    .services-format p {
        font-size: 15px;
        line-height: 23px;
        max-width: 100%;
    }

    .service-container {
        grid-template-columns: 1fr;
    }
    .arrow {
        height: 20px;
    }
}



