*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
   min-height: 100vh;
   background-color: black;
   color: white;
   font-family: 'outfit';
}